body {
  background-color: hwb(0 10% 88%);
}
.spiner {
  background-color: darkmagenta;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 25px solid transparent;
  border-top: 20px solid rgb(211, 7, 7);
  animation:  ani 2.5s linear infinite;
  margin: 0 auto;
  
}


@keyframes ani {

100% {
  transform: rotate(360deg);
}



}

.spiner::before {
  content: "Loading...";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: rgb(17, 207, 228);
  font-weight: bolder;
}
@media (max-width: 768px) { /* Target smaller screens, like tablets and phones */
  .spiner {
    width: 300px; /* Adjust spinner size */
    height: 300px;
    border-width: 20px; /* Adjust border thickness */
    border: 15px solid transparent;
    border-top: 20px solid rgb(211, 7, 7);
    border-radius: 50%;
    
    
    
  }
  .spiner::before {
    font-size: 15px;

}
}

@media (max-width: 480px) { /* Target even smaller screens */
  .spiner {
    width: 200px;
    height: 200px;
    border: 15px solid transparent;
    border-top: 10px solid rgb(211, 7, 7);
    border-radius: 50%;
    border-width: 10px; 
  }
}

