body, html{
  margin: 0;
  padding: 0;
  background-color: black;
}
.card{
  position:relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 0;
}
.text{
  color: hsl(33, 15%, 88%);
  
}
.text-style{
  width: 250px;
  position: relative;
  border-radius: 10px;
  background: #1c1f2b;
  font-size: 18px;
  margin: 0;
  padding: 15px;
  text-align: center;
}
@property --angle{
  syntax: '<angle>';
  initial-value: 0deg ;
  inherits: false;
}
.text-style::after,.text-style::before{
  
  content: "";
  position: absolute;
  background-image: conic-gradient(from var(--angle),#03a9f4, #f441a5, #ffeb3b, #03a9f4);
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* try this for alternative animation */
  /* background-image:conic-gradient(transparent 70%, blue); */
  z-index: -1;
  padding: 3px ;
  border-radius: 10px;
  animation: 3s spin linear infinite ;
}
.text-style::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin {
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}
