@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: red;
}
a:visited{
  color: rgb(102, 0, 255);
}
a:hover, a:focus{
  color: yellow;
  background-color: aqua;
}
a:active{
  color: rgb(0, 255, 153);
}

