@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Roboto;
  
}

body {
  background-color: hwb(140 93% 4%);
  margin: 0.5em;
}

nav{
  text-align: center;
  font-size: 1em;
  border: 2px dashed blueviolet;
  border-radius: 5%;
  margin: 0 auto;
  max-width: 600px;
  font-size: 3rem;
  line-height: 7rem;

}
h2{
  background-color: cornflowerblue;
  border-radius: 2rem 2rem 0 0;
}

ul{
  list-style-type: none;
  list-style-position: inside;
}
li{
  border-top: dashed 2px black;

}
li a{
  display: block;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
li a, 
li a:visited{
  color: rgb(0, 0, 0);
  
}
li a:hover,
li a:focus{
  color: aqua;
  background-color: rgb(14, 14, 14);

}
li:last-child a{
  border-radius: 0 0 2rem 2rem;
}
p{
  text-align: center;
  margin-top: 1.5em;
}


