header{
  width:100%;
}

h1{
  border: 5px dashed #ccc;
  text-align: center;
  width:50%;
  
  font-size: 3rem;
  margin: auto;
  text-emphasis-color: blue;
  text-emphasis-style: "...";
  text-emphasis-position: under;
  background-color: aqua;
  
}

p{
  font-size: 1.5em;
}